div.Comment__default {
    background-color: white ;
    margin: 10px 13px 0 0 ;
    padding: 7px ;
    border-radius: 10px ;
    border:  1px solid ;
    font-size: small ;
    text-align: left ;
}
div.Comment__toggled {
    background-color:green;
    margin: 10px 13px 0 0 ;
    padding: 7px ;
    border-radius: 10px ;
    border:  1px solid ;
    font-size: small ;
    text-align: left ;
}