a.commentLink:link {
    color:black;
    text-decoration: none;
}
a.commentLink:visited {
    color:black;
    text-decoration: none;
}
a.commentLink:hover {
    color:black;
    text-decoration: none;
}
a.commentLink:active {
    color:black;
    text-decoration: none;
}

span.commentArea {
    transition: background-color 2s;
}
span.commentAreaSelected {
    background-color:coral;
}
span.commentArea:focus {
    background-color: coral;
}
span.commentArea:hover {
    background-color: green;
}

.Collapsible__trigger{
    background-color: aquamarine;
    border: 1px solid black;
}